language: go

go:
  - 1.14.x

before_install:
  - go mod download
  - go get github.com/golangci/golangci-lint/cmd/golangci-lint

script:
  - export PATH=$PATH:$(go env GOPATH)/bin
  - make lint
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)
